<div class="jumbotron">
  <h1>Bienvenue sur MyHomeBudget</h1>
  <p>Gérez vos dépenses mensuelles grâce à MyHomeBudget</p>
  <% if !user_signed_in? %>
  <%= link_to "S'identifier", new_user_session_path, class: "btn btn-main btn-lg"%>
  <%= link_to "Créer un compte", new_user_registration_path,class: "btn btn-main btn-lg" %>
  <% end %>
</div>